* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: #eee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table {
  align-items: center;
  overflow-wrap: break-word;
  margin: auto;
  margin-top: 1rem;
  width: 50vw;
  border-spacing: 0;
  color: white;
}

.table-header {
  background: #6aace9;
}

.header-content,
.table-item,
.item-content {
  width: 50%;
}
.header-content {
  font-size: large;
  height: 3rem;
  font-weight: bolder;
}

.header-left {
  border: 3px solid #aaa;
  border-radius: 1rem 0 0 0;
}

.header-right {
  border: 3px solid #aaa;
  border-radius: 0 1rem 0 0;
  border-left: 0;
}
.loading {
  width: 100%;
  background: #444;
}
.table-item {
  background: #444;
  font-size: medium;
}

.item-content {
  padding: 10px;
  height: auto;
  text-align: center;
  border: 3px solid #aaa;
  border-top: none;
}

.item-right {
  border-left: none;
  padding: 0.5rem 0;
  font-weight: bold;
}

.last-item {
  border-radius: 0 0 1rem 1rem;
}

.last-item-left {
  border-radius: 0 0 0 1rem;
}

.last-item-right {
  border-radius: 0 0 1rem 0;
}

.item-red {
  background-color: #f05f5f;
}

.item-green {
  background: #88c879;
}

.table-btn {
  outline: none;
  margin-top: 0.5rem;
  width: 100%;
  height: 3rem;
  border-radius: 1rem;
  border: 3px #aaa solid;
  background-color: #444;
  color: #fff;
  font-size: larger;
  transition: transform 200ms ease-out, background 200ms ease-out,
    font-weight 200ms ease-out;
}

.table-btn:hover {
  font-weight: bolder;
  background: #6aace9;
  transform: scale(102%);
}

.table-btn:active {
  background: #489ceb;
  transform: translate(0px, 5px);
}

.loading {
  text-align: center;
  color: #fff;
  font-size: x-large;
  height: 4rem;
  background: #444;
  border-top: 0;
  border-radius: 0 0 1rem 1rem;
  border: 3px solid #aaa;
}

.loading td {
  border-radius: inherit;
}

@media screen and (max-width: 780px) {
  table {
    width: 90vw;
  }
}
