* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.table-header {
  background: #6aace9;
  display: flex;
  width: 50%;
  height: auto;
  border-radius: 1rem 1rem 0 0;
  font-weight: bolder;
}
.header-content {
  margin-top: 1rem;
  color: #fff;
  width: 50%;
  height: auto;
  margin: auto;
  padding: 0.5rem 0;
  font-size: large;
  text-align: center;
  border: 3px solid #aaa;
  display: table;
}
.header-content p,
.item-content p {
  display: inline;
  vertical-align: middle;
}
.header-left {
  border-radius: 1rem 0 0 0;
}
.header-right {
  border-radius: 0 1rem 0 0;
  border-left: none;
}

.table-item {
  color: #fff;
  background: #444;
  display: flex;
  width: 50%;
  font-size: medium;
}
.item-content {
  padding: 5px;
  width: 50%;
  height: auto;
  text-align: center;
  display: table;
  border: 3px solid #aaa;
  border-top: none;
}
.item-right {
  border-left: none;
  padding: 0.5rem 0;
  font-weight: bold;
}
.item-right img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.last-item {
  border-radius: 0 0 1rem 1rem;
}
.last-item-left {
  border-radius: 0 0 0 1rem;
}
.last-item-right {
  border-radius: 0 0 1rem 0;
}
.table {
  overflow-wrap: break-word;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-red {
  background-color: #f05f5f;
}

.item-green {
  background: #88c879;
}
@media only screen and (max-width: 800px) {
  .table-header,
  .table-item {
    width: 90%;
  }
}
